<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Historia Clínica</title>

    <link rel="stylesheet" href="/css/paciente/paciente.css">
    <link rel="stylesheet" href="/css/paciente/historial.css">
</head>

<body>

<header class="topbar">
    <h2>MI HISTORIA CLÍNICA</h2>
</header>

<main class="historial-container">

    <div class="historial-card">
        <div>
            <h4>14/11/2025</h4>
            <p><b>Médico:</b> Dr. Gómez</p>
            <p><b>Motivo:</b> Dolor lumbar</p>
        </div>

        <button class="btn-detalle">Ver detalle</button>
    </div>

    <div class="historial-card">
        <div>
            <h4>01/10/2025</h4>
            <p><b>Médico:</b> Dra. Martínez</p>
            <p><b>Motivo:</b> Control general</p>
        </div>

        <button class="btn-detalle">Ver detalle</button>
    </div>

</main>

</body>
</html>
