<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Turnos</title>

    <link rel="stylesheet" href="/css/paciente/paciente.css">
    <link rel="stylesheet" href="/css/paciente/misTurnos.css">
</head>

<body>

<div class="turnos-bg">
    <header class="turnos-header">
        <div>
            <p class="label">Mis Turnos</p>
            <h1 id="pac-nombre-turnos">Paciente</h1>
        </div>
        <a class="btn-home" href="/pac-panel">🏠 Inicio</a>
    </header>

    <main class="turnos-lista">
        <!-- Se cargan con JS -->
    </main>
</div>

<script src="/js/paciente/misTurnos.js"></script>
</body>
</html>
