<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Turnos</title>

    <link rel="stylesheet" href="/css/paciente/paciente.css">
    <link rel="stylesheet" href="/css/paciente/misTurnos.css">
</head>

<body>

    <div class="turnos-bg">
        <header class="turnos-header">
            <div>
                <p class="label">Mis Turnos</p>
                <h1 id="pac-nombre-turnos">Paciente</h1>
            </div>
            <a class="btn-home" href="/pac-panel">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                </svg>
                Inicio
            </a>

        </header>

        <main class="turnos-lista">
            <!-- Se cargan con JS -->
        </main>
    </div>

    <script src="/js/paciente/misTurnos.js"></script>
</body>

</html>