<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Turnos</title>

    <link rel="stylesheet" href="/css/paciente/paciente.css">
    <link rel="stylesheet" href="/css/paciente/misTurnos.css">
</head>

<body>

<header class="topbar">
    <h2>MIS TURNOS</h2>
</header>

<main class="turnos-container">

    <div class="turno-card">
        <div class="info">
            <h3>19/11 - 08:00 hs</h3>
            <p><b>Especialidad:</b> Traumatología</p>
            <p><b>Médico:</b> Dr. Gómez</p>
        </div>

        <button class="btn-cancelar">Cancelar</button>
    </div>

    <div class="turno-card confirmado">
        <div class="info">
            <h3>22/11 - 09:40 hs</h3>
            <p><b>Especialidad:</b> Clínica Médica</p>
            <p><b>Médico:</b> Dra. Martínez</p>
        </div>

        <span class="badge">Confirmado</span>
    </div>

</main>

</body>
</html>
