<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Paciente</title>

    <link rel="stylesheet" href="/css/paciente/paciente.css">
    <link rel="stylesheet" href="/css/paciente/registro.css">
</head>

<body>

<header class="topbar">
    <h2>REGISTRO DE PACIENTE</h2>
</header>

<main class="registro-container">
    <form class="registro-form">

        <h3>Datos personales</h3>

        <div class="grid-2">
            <div class="field">
                <label>Nombre completo</label>
                <input type="text">
            </div>

            <div class="field">
                <label>DNI</label>
                <input type="number">
            </div>

            <div class="field">
                <label>Email</label>
                <input type="email">
            </div>

            <div class="field">
                <label>Teléfono</label>
                <input type="text">
            </div>

            <div class="field">
                <label>Obra social</label>
                <input type="text">
            </div>

            <div class="field">
                <label>Foto de DNI</label>
                <input type="file" accept="image/*">
            </div>
        </div>

        <button class="btn-registrar">Registrarme</button>
    </form>
</main>

</body>
</html>
