<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservar Turno</title>
    <link rel="stylesheet" href="/css/paciente/paciente.css">
    <link rel="stylesheet" href="/css/paciente/reservar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css">
</head>

<body>
    <div class="res-bg">
        <header class="res-header">
            <div>
                <p class="label">Paciente</p>
                <h1 id="pac-nombre-reserva">Reserva tu turno</h1>
                <p class="subtitle">Selecciona especialidad, médico, fecha y un horario disponible.</p>
            </div>
            <a class="btn-home" href="/pac-panel">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                </svg>
                Inicio
            </a>

        </header>

        <section class="res-card">
            <div class="form-grid">
                <div class="field">
                    <label>Especialidad</label>
                    <select id="sel-especialidad">
                        <option value="">Seleccionar especialidad</option>
                    </select>
                </div>

                <div class="field">
                    <label>Médico</label>
                    <select id="sel-medico">
                        <option value="">Seleccionar médico</option>
                    </select>
                </div>
            </div>

            <div class="field fecha-field">
                <label>Fecha</label>
                <div id="calendar"></div>
            </div>

            <div class="field">
                <label>Horarios disponibles</label>
                <div class="chips" id="chips-horarios">
                    <!-- chips de horarios -->
                </div>
            </div>

            <button id="btn-reservar" class="btn-reservar">Reservar</button>
            <p class="nota">Las reservas quedan pendientes de confirmación</p>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/locales-all.global.min.js"></script>
    <script src="/js/paciente/reservar.js"></script>
</body>

</html>
